@import 'tailwindcss';

:root {
  color-scheme: light dark;
  interpolate-size: allow-keywords;
}

@theme inline {
  --color-light: var(--color-violet-50);
  /* --color-dark: oklch(from var(--color-violet-950) calc(l / 3) c h); */
  --color-dark: oklch(from var(--color-violet-950) l calc(c * 0.33) h);
  --color-foreground: light-dark(var(--color-dark), var(--color-light));
  --color-background: light-dark(var(--color-light), var(--color-dark));
  --color-border: light-dark(hsl(from var(--color-dark) h s l / 20%), hsl(from var(--color-light) h s l / 40%));
  --color-muted: light-dark(var(--color-gray-500), var(--color-gray-400));
  --color-muted-contrast: light-dark(var(--color-light), var(--color-dark));
  --color-primary: light-dark(var(--color-violet-500), var(--color-violet-800));
  --color-danger: light-dark(var(--color-rose-500), var(--color-rose-800));
  --color-success: light-dark(var(--color-emerald-500), var(--color-emerald-800));
  --color-primary-contrast: var(--color-violet-100);
  --color-danger-contrast: var(--color-rose-100);
  --color-success-contrast: var(--color-emerald-100);
}

@utility slide-in-up {
  @apply origin-top translate-y-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 starting:translate-y-1/2 starting:scale-90 starting:opacity-0;
}

@utility slide-in-down {
  @apply origin-top translate-y-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 starting:-translate-y-1/2 starting:scale-90 starting:opacity-0;
}

@utility slide-in-left {
  @apply origin-left translate-x-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 starting:translate-x-1/2 starting:scale-90 starting:opacity-0;
}

@utility slide-in-right {
  @apply origin-left translate-x-0 scale-100 opacity-100 transition-[translate,scale,opacity,display] transition-discrete duration-150 starting:-translate-x-1/2 starting:scale-90 starting:opacity-0;
}

@layer base {
  html {
    @apply bg-background font-sans text-foreground antialiased caret-primary/67 accent-primary transition-colors duration-150 [caret-shape:block] selection:bg-primary/33;
  }
}
